
body {
    font-family: Arial, sans-serif;
    background-color: cornsilk;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  